body {
  background-color: hsl(0, 0%, 90%);
}

* {
  padding: 0;
  margin: 0;
  font-family: 'Hanken Grotesk', sans-serif;
}

h1 {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 24px;
  width: 100%;
}

h2 {
  color: hsl(0, 0%, 100%);
  margin: 22px 0 9px;
}

p {
  font-size: 16px;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
}

section {
  padding-block: 24px;
}

.result {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-bottom-left-radius: 9%;
  border-bottom-right-radius: 9%;
  background-image: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
  margin-bottom: 12px;
  width: 100%;
}

.score {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 142px;
  height: 142px;
  background-image: linear-gradient(hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0))
}

.mainScore {
  font-size: 54px;
  color: hsl(0, 0%, 100%);
  font-weight: 800;
}

.miniScore {
  color: hsl(224, 30%, 27%);
  font-weight: 500;
}

.result>p:last-child {
  width: 254px;
}

.summary {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
  padding-inline: 38px;
  width: 83%;
}

.summary h1 {
  color: hsl(276, 5%, 58%);
}

.summary div {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-block: 17px;
  padding-inline: 14px;
  margin-bottom: 18px;
  box-sizing: border-box;
  border-radius: 11px;
  width: 100%;
}

.summary img {
  margin-right: 12px;
}

.summary div p:nth-child(2) {
  font-size: 16px;
  font-weight: 700px;
}

.summary div p:last-child {
  position: absolute;
  right: 14px;
}

.reaction {
  color: hsl(0, 100%, 67%);
  background-color: hsla(0, 100%, 67%, 0.1);
}

.memory {
  color: hsl(39, 100%, 56%);
  background-color: hsla(39, 100%, 56%, 0.1);
}

.verbal {
  color: hsl(166, 100%, 37%);
  background-color: hsla(166, 100%, 37%, 0.1);
}

.visual {
  color: hsl(234, 85%, 45%);
  background-color: hsla(234, 85%, 45%, 0.1);
}

button {
  border: none;
  width: 100%;
  font-size: 18px;
  color: hsl(0, 0%, 100%);
  background-color: hsl(224, 30%, 27%);
  border-radius: 29px;
  padding-block: 17px;
  margin-top: 4px;
}

button:active {
  background-image: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
}

.attribution {
  display: none;
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

.light-white {
  color: hsl(276, 5%, 58%);
}

@media only screen and (min-width: 736px) {
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    min-height: 100vh;
  }

  h1 {
    margin: 0;
    font-size: 24px;
    margin-bottom: 28px;
  }
  h2 {
    font-size: 32px;
    margin: 26px 0 14px;
  }

  main {
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    width: 736px;
    border-radius: 30px;
    background-color: hsl(0, 0%, 100%);
  }

  section {
    padding-block: 38px;
    box-sizing: border-box;
    width: 368px;
  }

  .result {
    border-radius: 30px;
    margin: 0;
  }
  .score {
    margin-top: 8px;
    width: 200px;
    height: 200px;
  }
  .mainScore {
    font-size: 70px;
  }
  .result > p:last-child {
    font-size: 18px;
    margin-bottom: 18px;
    width: 244px;
  }

  .summary {
    padding-inline: 36px;
    border-left: none;
    border-bottom-right-radius: 30px;
    border-top-right-radius: 30px;
    padding-inline: 42px;
    width: 88%;
  }
  button {
    margin-top: 22px;
    margin-bottom: 6px;
  }
  button
}

@font-face {
  font-family: 'Hanken Grotesk';
  src: url(assets/fonts/HankenGrotesk-VariableFont_wght.ttf);
}

@font-face {
  font-family: 'Hanken Grotesk';
  src: url(assets/fonts/HankenGrotesk-VariableFont_wght.ttf);
}

@font-face {
  font-family: 'Hanken Grotesk';
  src: url(assets/fonts/static/HankenGrotesk-Medium.ttf);
  font-weight: 500;
}

@font-face {
  font-family: 'Hanken Grotesk';
  src: url(assets/fonts/static/HankenGrotesk-Bold.ttf);
  font-weight: 700;
}

@font-face {
  font-family: 'Hanken Grotesk';
  src: url(assets/fonts/static/HankenGrotesk-ExtraBold.ttf);
  font-weight: 800;
}
